body  
{
 background-image: url(image/background.jpg);
 background-repeat: no-repeat;
 background-position: right bottom;
 background-attachment: fixed;
 color: #000000;
 margin-left: 10%;
 margin-right: 10%;
 margin-top: 5%;
 margin-bottom: 5%;
}
	
p, blockquote, li, td
{
 text-align: justify;
}

table, tr, th, td, blockquote
{
  padding: 5px;
}

pre
{
  font-size: 9pt;
}

.note
{
  background-color: #9bafbf; 
}

.example
{
  background-color: #c0c0c0; 
}

.header
{
  background-color: #bcbcde;
}

.data
{
  background-color: #d9d9d9;
}


.copyright
{
 text-align: right;
}

a
{
  text-decoration: none; 
}

a:hover
{ 
  color: #009999; 
}

ul,ol
{
  list-style: outside;
  margin: 1em;
}


code
{
 display: inline;
 white-space: pre;
 text-align: left;
}

h1
{
 font-size: 200%;
 font-weight: bold;	
 color: #000000;
 text-align: center;
}

.title
{
 color: #006699;
}

h2
{
 color: #003366;
 font-size: 150%;
 font-weight: bold;	
 text-align: left;
}

h3
{
 font-size: 125%;
 font-weight: bold;	
 text-align: left;
}

h4
{
 font-size: 100%;
 font-weight: bold;	
 text-align: left;
}
